.bar{
    display: flex;
    background: teal; 
    margin: 1em;
    border-radius: 2em;
}

nav{
    transform: translate(15px,25px);
}

li{
    list-style: none;
    display: inline;
    padding: 1em 0 1em 0;
    border-radius: 2em;
    margin: .8em;
}